.columns > div {
  display: flex;
  flex-direction: column;
	gap: 2rem
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
	color: #fff;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns > div > div:not(.columns-img-col) {
	text-align: center;
	padding: 2.5rem 3rem;
}

.columns > div > div:not(.columns-img-col) > p:first-of-type {
	font-size: 32px;
	margin: 0;
	line-height: 1;
}

.columns > div > div:not(.columns-img-col) > p:nth-of-type(2) {
	margin: 2rem 0;
}

.columns > div > div:not(.columns-img-col) > p:not(:first-of-type),
.columns > div > div:not(.columns-img-col) > p:not(:first-of-type) * {
	font-size: 15px;
}

.columns > div > div:not(.columns-img-col):nth-of-type(1) {
	background-color: rgb(80, 113, 153);
}

.columns > div > div:not(.columns-img-col):nth-of-type(2) {
	background-color: rgb(0, 31, 63);
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 4rem;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
